.header{
    width:auto;
    height:auto;
  }
  .menu-list{
    width:30%;
    height:100%;
    background:#49757e;
    padding:10px;
    padding-bottom:16px;
    margin:0 auto;
    margin-top: 20px;
    box-shadow:1px 0px 20px rgba(0,0,0,0.4);
    border-radius:5px;
    text-align: center;
    color:white;
    font-size:24px;
    text-shadow:2px 0px 5px rgba(0,0,0,0.9);
    font-family:"Verdana";
  }
  .menu-item{
    width:47%;
    height:100%;
    background:#486c86;
    border:1px solid rgba(0,0,0,0.3);
    box-shadow:1px 0px 20px rgba(0,0,0,0.2);
    margin:2px;
    display:inline-block;
    line-height: 200%;
    text-align: center;
    color:white;
    font-size:20px;
    text-shadow:2px 0px 10px rgba(0,0,0,0.9);
    cursor:pointer;
  }
  .menu-item:active{
    background:#5089b3;
  }
  
  span{
      user-select: none;
      -webkit-user-select: none; 
      -moz-user-select: none;
      -khtml-user-select: none;
      -ms-user-select: none;
  }